h2 {
    font-size: 2.2em;
    text-align: center;
    -webkit-text-stroke: 1px black;
}
a{
  color:#c0a97a;
}
body{
    background-image: linear-gradient(black, #c0a97a);
    font-family: sans-serif;
    color: #c0a97a;

}
p small{
  color: #c0a97a;
}
.container{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height: 100vh;

}
.cq1{
  height:100px;
  width: 100px;
  position: absolute;
  background: #c0a97a;
  backdrop-filter: blur(10px);
  border-radius: 1000px;
  border-left: 1px solid #c0a97a;
  border-top: 1px solid #c0a97a;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
  margin-top: -420px;
  margin-left: -300px;
  animation: go-left-right 15s infinite alternate;
  border:1px solid black;
  z-index: -1;

}
.cq2{
  height:35px;
  width: 35px;
  position: absolute;
  background: #c0a97a;
  backdrop-filter: blur(10px);
  border-radius: 1000px;
  border-left: 1px solid #c0a97a;
  border-top: 1px solid #c0a97a;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
  margin-top: 200px;
  margin-left: 100px;
  animation: go-left-right 6s infinite alternate;
  border:1px solid black;
  z-index: -1;
}
.cq3{
  height:150px;
  width: 150px;
  position: absolute;
  background: #c0a97a;
  backdrop-filter: blur(10px);
  border-radius: 1000px;
  border-left: 1px solid #c0a97a;
  border-top: 1px solid #c0a97a;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
  margin-top: 50px;
  margin-left: 300px;
  animation: go-left-right3 8s infinite alternate;
  border:1px solid black;
  z-index: -1;
}
.cq4{
  height:100px;
  width: 100px;
  position: absolute;
  background: #c0a97a;
  backdrop-filter: blur(10px);
  border-radius: 1000px;
  border-left: 1px solid #c0a97a;
  border-top: 1px solid #c0a97a;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
  margin-top: 420px;
  margin-left: 100px;
  animation: go-left-right2 6s infinite alternate;
  border:1px solid black;
  z-index: -1;
}
.cq5{
  height:100px;
  width: 100px;
  position: absolute;
  background: #c0a97a;
  backdrop-filter: blur(10px);
  border-radius: 1000px;
  border-left: 1px solid #c0a97a;
  border-top: 1px solid #c0a97a;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
  margin-top: 70px;
  margin-left: 300px;
  animation: go-left-right2 4s infinite alternate;
  border:1px solid black;
  z-index: -1;
}


@keyframes go-left-right {        
    from { left: 690px; }             
    to { left: calc(70% - 200px); } 
}
@keyframes go-left-right2 {        
    from { right: 690px; }             
    to { right: calc(10% + 20px); } 
  }
@keyframes go-left-right3 {        
    from { top: 500px; }             
    to { top: calc(10% - 200px); } 
  }

.form-wrapper{
    
    height: 450px;
    width: 380px;
    display: flex;
    flex-direction: column;
    text-align: center;


}
.form-wrapper h1{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
.label{
    color: #c0a97a;
    font-weight: bold;
    text-align: center;
}
.input-form{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;
    color: #c0a97a;
    background-color: #080808;
    border: none;
    outline: none;
    border-radius: 100px;
    font-family: 'poppins', 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
}

.input-form::placeholder{
    color: #c0a97a;
    padding: 10px;
}
.form-wrapper a{
    color: black;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    padding: 100px;


}
.form-wrapper a:hover{
    color: #c0a97a;
    transition: 0.3s;
}

.btn-submit{
    padding: 15px;
    border-radius: 100px;
    border: none;
    margin-top: 20px;
    font-size: medium;
    font-weight: bolder;
    background-color: #c0a97a;
    transition: 0.4s;
    border:3px solid black;
    text-align: center;
}
.btn-submit:hover{
    background-color:#c0a97a;
}