@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
body
{
  background-image: linear-gradient(#181819, #c0a97a);
}

.@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
        
        body{

            font-size: 11.5px;
        }
        
        .card{
            padding: 2% 7%;
            color: #8C8C87;
            background-color: #020202;
        }

        .card-text{
          color: #8C8C87;
        }
        
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        ul >li{
            padding: 4px;
        }
        
        ul > li:hover{
            color: #c0a97a;
            cursor: pointer;
        }
        
        hr{
            border-width: 3px;
        }
        
        .heading{
            font-family: 'Titillium Web', sans-serif;
            color:  #c0a97a;
        }
        
          .divider{
              border-top: 2px solid  #c0a97a;
          }

          .pocaz{
            background: #c0a97a;
            color: black;
            margin-left: 150px;
            margin-right: 150px;
          }
          .carta{
            text-align: center;
            flex-wrap: wrap;
          }

          h2{
            color: #c0a97a;
          }